* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(92, 91, 91);
  color: white;
}

table,
tr,
th,
td {
  border-collapse: collapse;
  border: 1px solid white;
  padding: 0.25rem 0.5rem;
}
